@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.primary-bold {
    font-family: "Tiny5", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
}
.body-bold {
    font-family: "Tiny5", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.7rem;
}

