@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.primary-bold {
    font-family: "Silkscreen", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
  