@import '@/assets/scss/fonts/league-spartan.scss';
@import '@/assets/scss/fonts/league-mono.scss';
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/utils.scss';

:root {
  --elevation: .5;
  --shiki-default-bg: map-get($white, 'darken-1');
}

ul, ol {
  margin-top: .5rem;
  margin-bottom: .5rem;
  line-height: 120%;
  padding-inline-start: 1rem;
}
ul {
  list-style: inside square;
}
ol {
  list-style: inside dot;
}

body {
  font-family: "League Spartan";
  font-size: 1.25rem;

  * {
    overflow: unset;
  }

  p {
    overflow: visible;
    line-height: 120%;
    a {
      text-decoration: underline;
    }
  }

  pre {
    overflow: scroll;
    padding: 1rem;
    font-family: "League Mono";
    font-size: 1rem;
    overflow: scroll;
    code {

      overflow: scroll;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
  .youtube-video, img {
    margin-bottom: 1.5rem;
  }
}

.text-mono {
  font-family: 'League Mono';
}

.of-visible {
  overflow: visible;
}

.of-hidden {
  overflow: hidden;
}

h1 {
  font-size: 2.7rem;
}

pre, code {
  background-color: map-get($black, 'lighten-1');
  color: map-get($shades, 'white');
}
pre {
  border-radius: .25rem;
}
code {
  border-radius: .125rem;
  font-size: 1rem;
  padding: .125rem;
}

.dark {
  color: map-get($shades, 'white');
}

.light {
  color: map-get($shades, 'black');
}

.stripes {
  background: repeating-linear-gradient(105deg,
      map-get($shades, 'white'),
      map-get($shades, 'white') 4rem,
      map-get($blue, 'lighten-4') 4rem,
      map-get($blue, 'lighten-4') 5rem);
}

.shadow {
  --shadow-size: calc(var(--elevation) * .5rem);
  box-shadow: var(--shadow-size) var(--shadow-size) #0005;
}

.shadow.hoverable {
  transition: transform .25s ease, box-shadow .25s ease;
}

.shadow.hoverable:hover {
  box-shadow: calc(var(--shadow-size) * 1.2) calc(var(--shadow-size) * 1.2) #0005;
  transform: translate(-.1rem, -.1rem) !important;
}

.container {
  @extend .mx-2;
  @extend .mx-md-up-5;
  @extend .mx-lg-up-6;
  @extend .mx-xl-up-7;
}